<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>943749759326-3btect7p19mqvcb7bskive214jgab98j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943749759326-3btect7p19mqvcb7bskive214jgab98j</string>
	<key>API_KEY</key>
	<string>AIzaSyDUhovGBmOsTSIdkbw65MVPqJAQlYrCvbU</string>
	<key>GCM_SENDER_ID</key>
	<string>943749759326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sean-feeley.Alphabet-Streets</string>
	<key>PROJECT_ID</key>
	<string>alphabet-streets</string>
	<key>STORAGE_BUCKET</key>
	<string>alphabet-streets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:943749759326:ios:b7d39b4fdd8824fd</string>
	<key>DATABASE_URL</key>
	<string>https://alphabet-streets.firebaseio.com</string>
</dict>
</plist>